@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--font-family-main);
  min-height: 100vh;
}