/.vscode
.idea/
/build
/node_modules
.DS_Store
Thumbs.db
.Trash
/storybook-statics
.loki/report.html
.loki/report.json
build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json
