.app_orange_theme {
	--bg-color: #faf4fb;
	--inverted-bg-color: #f38806;
	--primary-color: #9a1a0e;
	--secondary-color: #d01f0e;
	--inverted-primary-color: #FBF8F4;
	--inverted-secondary-color: #faf4fb;
}
